*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainBox{
    width: 1400px;
    margin: 0 auto;

}


.buttonStandard{
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 100px;
    color: white;
    background: rgb(4,164,208);
    background: -moz-linear-gradient(90deg, rgba(4,164,208,1) 30%, rgba(31,63,131,1) 80%);
    background: -webkit-linear-gradient(90deg, rgba(4,164,208,1) 30%, rgba(31,63,131,1) 80%);
    background: linear-gradient(90deg, rgba(4,164,208,1) 30%, rgba(31,63,131,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#04a4d0",endColorstr="#1f3f83",GradientType=1);
    &:hover{
        cursor: pointer;
        background: rgb(184,38,110);
        background: -moz-linear-gradient(90deg, rgba(184,38,110,1) 30%, rgba(248,98,107,1) 80%);
        background: -webkit-linear-gradient(90deg, rgba(184,38,110,1) 30%, rgba(248,98,107,1) 80%);
        background: linear-gradient(90deg, rgba(184,38,110,1) 30%, rgba(248,98,107,1) 80%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8266e",endColorstr="#f8626b",GradientType=1);
    }
    }

    .buttonInverted{
        padding: 0.5rem 0.8rem;
        border: none;
        border-radius: 100px;
        color: white;
        background: rgb(184,38,110);
        background: -moz-linear-gradient(90deg, rgba(184,38,110,1) 30%, rgba(248,98,107,1) 80%);
        background: -webkit-linear-gradient(90deg, rgba(184,38,110,1) 30%, rgba(248,98,107,1) 80%);
        background: linear-gradient(90deg, rgba(184,38,110,1) 30%, rgba(248,98,107,1) 80%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8266e",endColorstr="#f8626b",GradientType=1);
        &:hover{
            cursor: pointer;
            background: rgb(4,164,208);
            background: -moz-linear-gradient(90deg, rgba(4,164,208,1) 30%, rgba(31,63,131,1) 80%);
            background: -webkit-linear-gradient(90deg, rgba(4,164,208,1) 30%, rgba(31,63,131,1) 80%);
            background: linear-gradient(90deg, rgba(4,164,208,1) 30%, rgba(31,63,131,1) 80%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#04a4d0",endColorstr="#1f3f83",GradientType=1);
        }

    }

    .gradientBackground{
        background: rgb(1,1,47);
        background: -moz-linear-gradient(0deg, rgba(1,1,47,1) 0%, rgba(11,25,83,1) 60%);
        background: -webkit-linear-gradient(0deg, rgba(1,1,47,1) 0%, rgba(11,25,83,1) 60%);
        background: linear-gradient(0deg, rgba(1,1,47,1) 0%, rgba(11,25,83,1) 60%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01012f",endColorstr="#0b1953",GradientType=1);
    
    }

    .width40{
        width: 40%;
    }

    .width60{
        width:60%;
    }

    .textBlu{
    color:#048AB8 !important;
    }
    .colorRed{
        color: #950952;
    }